.disabled_select {
    display: none;
    box-sizing: border-box;
}

.selectedPrefix {
    position: relative;
    box-sizing: border-box;
}
.prefixDiv {
    position: absolute;
    box-sizing: border-box;
    top: 14px;
    left: 0;
    display: none;
    background-color: white;
    z-index: 9999;
}
.active_select {
    box-sizing: border-box;
    display: block;
}
.checkbox {
    box-sizing: border-box;
    display: flex;
}

.checkbox input[type="checkbox"] {
    box-sizing: border-box;
    width: auto;
}

.checkbox p.text {
    box-sizing: border-box;
    padding: 0;
    margin: 6px;
}
