  .font-montserrat{
    font-family: 'Montserrat', sans-serif !important;"  
  }

  .text-vermelho-padrao{
    color: #e31b1c;
  }

  .text-vermelho-escuro{
    color: #f50f40 !important;
    font-weight: bold;
  }

  .text-vermelho-claro{
    color: #f74b4b;
  }

  .text-cinza-claro{
    color: #f7f7f7;
  }

  .text-cinza-escuro{
    color: #292e32;
  }

  .text-amarelo{
    color: #ffe400;
  }

  .pb-10{
    padding-bottom:10px;
  }
  .pb-20{
    padding-bottom:20px;
  }
  .pb-30{
    padding-bottom:30px;
  }
  .pb-40{
    padding-bottom:40px;
  }
  .pb-50{
    padding-bottom:50px;
  }
  .pb-60{
    padding-bottom:60px;
  }
  .pb-70{
    padding-bottom:70px;
  }
  .mt-100{
    margin-top: 100px;
  }

  .mensagem{
    display: none;
  }

  
  .tp-caption.cta-banner a:hover {
    background-color: #fff;
    color: #101010;
  }

  a.btn-red:hover {
    background-color: #fff;
    color: #101010;
  }

  a.btn-2-border:hover {
    border: 1px solid #f50f40;
  }

  h5.hove-title-red a:hover{
    color: #f50f40 !important;    
  }

  
  .ce4-feature-box-38:hover .icon, .ce4-feature-box-38.active .icon {
    background-color:#fff;
    color:#f50f40;
    border:1px solid #f50f40;
  }

  .ce4-feature-box-38:hover .title, .ce4-feature-box-38.active .title {
    color:#f50f40;
  }


  /*colores de los textos del footer*/ 
  div.fo-map p, div.fo-map address, div.fo-map span, div.fo-posts p, div.fo-posts span{
    color: #fff;
  }

  img.hide1{
    opacity: 0;
    transition: all 0.5s ease-out;
  }

  .ce4-feature-box-38:hover img.hide1 {
    opacity: 1;
  }

  .ce4-feature-box-38:hover img.top {
    opacity: 0;
  }

  .ce4-price-table-2 ul.plan_features li.text-white {
    padding: 15px 0;
    border-bottom: 1px solid #f50f40 !important;
    transition: all 0.3s ease-out 0s;
  }

  .ce4-price-table-2 ul.plan_features li.text-white:last-child  {   
    border-bottom: none !important;    
  }

  /*.ce4-price-table-2:hover .inner-box, */

  .ce4-price-table-2.active .inner-box {
    border: 1px solid #fff;
  }

  .ce4-price-table-2:hover .inner-box .price-circle, .ce4-price-table-2.active .inner-box .price-circle {
    border: none;
  }

  .ce4-price-table-2:hover .inner-box {
    border: 1px solid #f50f40;
  }

  .ce4-price-table-2:hover .price-circle .price {
    color: #f50f40 !important;
  }

  .ce4-price-table-2:hover div.price-circle i {
    color: #f50f40 !important;
  }
  
  a.btn-red-transparent{
    background-color: rgb(245 15 64 / 80%);
  }

  a.btn-red-transparent:hover{
    background-color: rgb(245 15 64 / 100%);
  }

  .noHover{
    /*pointer-events: none;*/
    cursor: no-drop;
    opacity: .5;
  }

  div.divisor{
    margin: 20px 0;
    border-bottom: 1px solid #ececec;
    float: left;
    width: 100%;
  }

  div.divisor:last-child{
    border-bottom: none;
    float: left;
    width: 100%;
  }

  .show-sem-cat.display-none{
    display: none;
  }

  a.redes-icone-footer:hover{
    color: #f50f40;
  }


  /*=============================================================MODO DESKTOP=================================================================================*/

@media (min-width: 1024px){

  .OnlyMobil{
    display: none !important;
  }
 
  .banner-title-custon{
    font-size: 20px !important;
    font-weight: normal !important;
  }
  
  .tp-caption.cta-banner a {
    background-color: #f50f40;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  a.btn-2 {    
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  a.btn-red{
    background-color: #f50f40;
  }

  /*a.btn-red-transparent{
    background-color: rgb(245 15 64 / 50%);
  }

  a.btn-red-transparent:hover{
    background-color: rgb(245 15 64 / 100%);
  }*/

  .ce4-feature-box-1-custon-1{
    width:100%;
    padding:0 0 0 0;
    float:left;
    margin-top:100px;
    background: #101010 url(../img/custon/imagem_3.png) 0 0 no-repeat;
    background-size: contain;
    height: 711px !important;
  }

  .ce4-feature-box-1-custon-1 .img-box {
    position: relative;
    width: 80%;
    float: left;
    padding: 15px;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
    transform: translateX(121px);

    /*position: relative;
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;*/

  }

  .ce4-feature-box-1-custon-1 .img-box-main {
    position: relative;
    width: 100%;
    top: -90px;
    padding: 0 0 0 10%;
    width: 90%;
  }

  .text-custon{
    padding: 23px 137px 0px 124px;
    color: #fff;
  }

  .height-custon{
    height: 711px;
  }

  .background-imgholder-full.img3 {
    width: 100%;
    height: 510px;
    background: url(../img/custon/imagem_8.png) center right no-repeat;
  }

  .mt-50-desk{
    margin-top: 50px;
  }

  .bg-form{
    background: url(../img/custon/bg_form.jpg) center no-repeat;
    background-size: cover;
  }

  .bg-opacity-home {
    background: url(../img/custon/imagem_10.jpg) center no-repeat;
    background-size: cover;
  }

  .header-section ul li a.m-link {
    color: #fff;
  }

  .header-section ul li:hover > a, .header-section ul li.active > a {
    color: #f50f40;
  }

  .bg-footer{
    background: url(../img/custon/bg_footer.jpg) center no-repeat;
    background-size: cover;
  }

  .img-logo{
    width: 138%;
    max-width: 150% !important;
  }

  .border-div{
    width: 480px;
    height: 374px;
    border: 10px solid #000;
    position: relative;
    background-size: contain;
    background-color: gray;
  }

  a.v2{
    position: absolute;
    top: 153px;
    left: 193px;
  }

  img.img-play{
    width: 37%;
  }

  .bg-section-1{
    background: url(../img/custon/imagem_2_cond.jpg) center no-repeat;
    background-size: cover;
  }

  .altura-custon{
    padding: 147px 80px 147px 0 !important;
  }

  .content-custon{
    padding: 50px 210px 0 210px;
  }

  .title-p{
    margin-bottom: 0px;
    padding-left: 28px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .pb-custon{
    padding-bottom: 70px !important;
  }

  .desktop-logo{
    margin-bottom: 11px !important;
    margin-top: -18px;
  }

  span.sessao-3{
    font-size: 12px !important;
  }

  .ce4-feature-box-1-custon-2 {
    width: 100%;
    padding: 0 0 0 0;
    float: left;
    margin-top: 100px;
    background: #101010 url(../img/custon/imagem_2_cond.jpg) 0 0 no-repeat;
    background-size: contain;
    height: 711px !important;
  }

  .ce4-feature-box-1-custon-2 .img-box {
    position: relative;
    width: 80%;
    float: left;
    padding: 15px;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
    transform: translateX(121px);    
  }

  .ce4-feature-box-1-custon-2 .img-box-main {
    position: relative;
    width: 100%;
    top: -90px;
    padding: 0 0 0 10%;
    width: 90%;
  }

  .box-custon-2{
    width: 63% !important;
    padding: 0px !important;
    margin: 0 0 0 14% !important;
    border: 16px solid #fff !important;
    background: url(../img/custon/imagem_2_DEP.jpg) 0 0 no-repeat !important;
    background-size: cover !important;
  }

  .paddin-cust{
    padding: 35% !important;
  }

  .text-custon-2{
    padding: /*499px*/290px 308px 0px 140px;
    text-align: left;
    /*novo*/
    transform: translateY(-45px) !important;
  }

  .btn-video{
    position: absolute;
    top: 8px !important;
    right: -91px !important;
    width: 64%;
  }

  .btn-video-2{
    position: absolute;
    bottom: 23px;  
    width: 64%;
  }

  .text-custon-3{
    padding: 23px 239px 0px 120px;
    color: #fff;
  }

  .show-sem-cat{
    padding-top: 413px;
    font-size: 50px;
    color: #f50f40;
    line-height: 1;
    font-weight: 400;
  }

  .padding-blog-details{
    padding: 60px 27px 0 0;
  }

  .mt-150-flex{
    margin-top: 150px;
  }

  .img-resp-contato{
    width: 90%;
  }

  .font-size-text{
    font-size: 16px !important;
  }

  .font-size-title{
    font-size: 24px !important;
  }

}

/**********************************************************************MODO MOBIL******************************************************************************/

@media (max-width: 768px){

  .OnlyDesktop{
    display: none !important;
  }

  .tp-caption.cta-banner a {
    background-color: #f50f40;
    color: #fff;
    font-size: 11px;
    padding: 10px 15px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  a.btn-2 {
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  a.btn-red{
    background-color: #f50f40;
  }

  .ce4-feature-box-1-custon-1{
    width:100%;
    padding:0 0 0 0;
    float:left;
    margin-top:100px;
    background: #101010 url(../../assets/img/custon/imagem_3.png) center right 16% no-repeat;
    background-size: cover;
    height: 362px !important;
  }

  .ce4-feature-box-1-custon-1 .img-box {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
  }

  .ce4-feature-box-1-custon-1 .img-box-main {
    position: relative;
    width: 100%;
    top: -90px;
    padding: 0 0 0 10%;
    width: 90%;
  }

  .text-custon, .text-custon-3{
    /*padding: 23px 137px 0px 124px;*/
    color: #fff;
  }

  .background-imgholder-full.img3 {
    background:none;
    height:350px;
  }

  .pt-50-mobile{
    padding-top: 50px;
  }

  .ce4-feature-box-46.mar-top {
    margin-top: 0px !important;
  }

  .mt-100-mobile{
    margin-top: 100px !important;
  }

  .bg-form{
    background: url(../img/custon/bg_form.jpg) center no-repeat;
    background-size: cover;
  }

  .bg-opacity-home {
    background: url(../img/custon/imagem_10.jpg) center no-repeat;
    background-size: cover;
  }

  .bg-footer{
    background: url(../img/custon/bg_footer.jpg) center no-repeat;
    background-size: cover;
  }

  .img-logo{
    width: 90%;
    max-width: 100% !important;
  }

  .mobil-text-box{
    padding: /*10px*/22px !important;
  }

  .mobil-img-box-1{
    height: 230px;
  }

  .mobil-img-box-2{
    height: 253px;
  }

  .mb-100-neg-mobile{
    margin-bottom: -100px !important;
  }

  .padding-mobile{
    padding: 40px 8px !important;
  }

  .border-div{
    width: 100%;
    height: 241px;
    border: 10px solid #000;
    position: relative;
    background-size: contain;
    background-color: gray;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  a.v2{
    position: absolute;
    /*top: 153px;*/
    left: 44%;
  }

  img.img-play{
    width: 30%;
  }

  .bg-section-1{
    background: url(../img/custon/imagem_2_cond.jpg) center no-repeat;
    background-size: cover;
  }    

  .altura-custon{
    padding: 73px 15px 69px 20px !important;
  }

  .content-custon{
    padding: 50px 20px 0 20px;
  }

  .title-p{
    margin-bottom: 0px;
    padding-left: 28px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .pb-custon{
    padding-bottom: 25px !important;
  }

  .mb-mobil-2{
    margin-bottom: -100px !important;
  }

  span.sessao-3{
    font-size: 11px !important;
  }

  .ce4-feature-box-1-custon-2{
    width:100%;
    padding:0 0 0 0;
    float:left;
    margin-top:100px;
    background: #101010 url(../../assets/img/custon/imagem_2_cond.jpg) center right 16% no-repeat;
    background-size: cover;
    /*height: 362px !important;*/
    height: 450px !important;
  }

  .ce4-feature-box-1-custon-2 .img-box {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #f1f1f1;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
  }

  .ce4-feature-box-1-custon-2 .img-box-main {
    position: relative;
    width: 100%;
    top: -90px;
    padding: 0 0 0 10%;
    width: 90%;
  }

  .box-custon-2{
    width: 85% !important;
    padding: 0px !important;
    margin: 0 0 0 6% !important;
    border: 10px solid #fff !important;
    background: url(../img/custon/imagem_2_DEP.jpg) 0 0 no-repeat !important;
    /*background-size: contain !important;*/
    background-size: cover !important;
  }

  .paddin-cust{
    padding: 30% !important;
  }

  .text-custon-2{
    padding: 272px 54px 0px 27px;
    text-align: left;
  }

  .mb-85-neg-mobil{
    margin-bottom: /*-320px*/-236px;
  }

  .btn-video{
    position: absolute;
    top: 7px;
    right: 0px;
    z-index: 10;
  }

  .btn-video-2{
    position: absolute;
    bottom: 18px;
  }

  .bg2-featurebox-3 .img-box .postdate-box {
    position: absolute;
    width: 50% !important;
    float: left;
    padding: 0px 0px 0px 5px !important;
    z-index: 2;
    right: 0px;
    bottom: 0px;
    background-color: rgb(245 15 64 / 80%);
  }

  .bg2-featurebox-3 .img-box .blog-post-info span {
    font-size: 10px !important;    
  }

  .bg2-featurebox-3 .postinfo-box {    
    padding: 25px 0 0 0 !important;    
  }

  .blog-post-info.mobile{
    display: flex;
    flex-wrap: wrap;
  }

  .bm-50-mobile{
    margin-bottom: 50px;
  }

  .show-sem-cat{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
    color: #f50f40;
    line-height: 1;
    font-weight: 400;
  }

  .padding-blog-details{
    padding: 45px 0 60px 0;
  }

  .mt-mobil-blog-det{    
    margin-top: 30px;
  }
  
  .mobil-title-1{
    font-size: 30px;
    line-height: 30px;
  }

  .mobil-title-2{
    line-height: 50px;
  }

  .div-reajuste{
    padding: 0px 17px 0px 19px !important;
  }

  .text-reajust{
    padding-top: 15px !important;
  }

  .text-reajust-2{
    padding-top: 25px !important;
  }

  .mb-section-mobil{
    margin-bottom: -100px;
  }

  a.btn-2 {    
    font-size: 13px !important;
    padding: 10px 31px !important;    
  }

  .mt-150-flex{
    margin-top: 0px;
  }

  .img-resp-contato{
    width: 100%;
  }

  .mt-mobile-28{
    margin-top: 28px;
  }

  .mt-60-mobile{
    margin-top: 60px;
  }

  .header-section.pin-style.off{
    background: rgba(2, 2, 3, 0.8);
  }

}


/*.show-sem-cat.display-none{
    display: none;
  }

a h4.posts:hover{
  color:#e31b1c;
}

.mt-50{
  margin-top: 50px;
}

i.icon.ion-mouse:hover{
  cursor: pointer;
}

.btn-amarelo{
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  background-color: #ffce00;
  color: #292e32;
}

.btn-red {
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    background-color: #d70027;
}


.btn.btn-red:hover{
  background-color:#e31b1c;
  color: #fff;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.btn.btn-amarelo:hover,
.btn.btn-amarelo:focus {
  background-color:#ffe400;
  color: #292e32;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.btn.btn-white:focus{
  background-color: #fff;
  color: #e31b1c;
}

.btn-quiz {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.28em;
    font-size: 0.93em;
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    padding: 10px 50px;;
    height: 3.8em;
    font-size: 0.9375em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 20px rgb(41 46 50 / 30%);
    background-color: #6534ff;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
}

.title-quiz-form{
  padding-left: 14px;
  font-size: 1.125em;
}

.mensagem {
    display: none;
    margin-top: 20px;
    box-shadow: inset 0 0 3px #cec4c4;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    padding: 24px;
    background: #f9f9f9;
}

ul.ul-pl li{
  font-family: 'Montserrat', sans-serif !important;"
}

.text-dark {
  color: #3b3b3b !important;
}

i.ion-ios-play{

  color: #e31b1c;

}   

.bg-vermelho {
    background-color: #e7344c;
    color: #fff;
}*/

/**********************************************************Acordion******************************************************************************/
/*.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .15rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    position: relative;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px;
}

.card-header:hover{
  cursor: pointer;
}

.light-blue-bg {
  background: url(../images/custon/Bg_footer.jpg);
  background-size: contain;
  padding: 200px 0;
}

.address-panel-custon{
  color:#fff;
}

.address-panel-custon-2{
  color:#fff;
}

.address-panel-custon .address-item-2,
.address-panel-custon-2 .address-item-2{
  overflow: hidden;
  margin-top:1.5em;
}

.address-panel-custon .icon,
.address-panel-custon-2 .icon{
  float:left;
  font-size:2em;
  width:1.6em;
  line-height: 1;
}

.address-panel-custon .social-list,
.address-panel-custon-2 .social-list{
  margin-top:2.5em;
}*/