label {
    display: block;
    box-sizing: border-box;
}

/*input:not([type='checkbox']), estaba abajo */

select {
    width: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 25px
}

.phoneArea input:not([type='checkbox']) {
    width: 200px;
    box-sizing: border-box;
}

.phoneArea {
    display: flex;
    box-sizing: border-box;
}

.phoneArea .selectedOption {
    width: 50px;
    margin: 0px;
    border: 1px solid #999;
    border-right: 0px;
    padding: 3px 0 0 5px;
    box-sizing: border-box;
    height: 25px
    }
.phoneArea .selectedOption:after {
    content: "";
    border-left: 3px solid transparent;
    box-sizing: border-box;
    border-right: 3px solid transparent;
    border-top: 7px solid black;
    width: 2px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 5px;
}
.phoneArea .showPrefix {
    width: 50px;
    border: 1px solid #999;
    border-right: 0px;
    box-sizing: border-box;
    height: 25px;
    padding: 2px 7px;
}
.option {
    padding: 5px;
    box-sizing: border-box;
}
.option:hover{
    box-sizing: border-box;
    background-color: #DDD;
}

.active_select {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    top: 25px;
    border: 1px solid #999;
}
