#avaliacao{
    padding: /*118px*/20px 0 79px;
    margin:auto;
    justify-content: center;
    /*background-image: url(../../img/wavecopy8.png), url(../../img/wavecopy8.png);*/
    background-position: -0 top, 0 58%;
    /*background-size: auto, auto;*/
    background-repeat: no-repeat;
}


#avaliacao .grid{
    margin:auto;
    height: unset;  
    width: 1410px;  
    border-radius: 25px;      
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top;
    box-shadow: 0 17px 20px 0 rgba(0,0,0,0.07);
}

#avaliacao .title{
    padding: 15px 0 0 51%;
    color: #3E3E3E; 
    font-family: Roboto;  
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
}

#avaliacao .title .red{
    color: #FF0000;
}

#avaliacao .formarc{
    padding: 6px 5% 7px 51%;
}


#avaliacao label {
    /*padding-left: 23px;*/
    color: black; 
    font-family: Roboto;
    font-size: 13px;
    line-height: 23px;
    text-transform: uppercase;
}

#avaliacao .field-area select {
    padding-left: 23px;
    color: #454749;
}

#avaliacao .field-area input:not([type='checkbox']) {
    padding-left: 23px;
    color: #454749;
    font-size: 14px;
    width: 100%;
    letter-spacing: 0px;
    height: 49px;
    border-radius: 24px;
    background-color: #FFFFFF;
    border: none;
}
#avaliacao .field-area{
    margin: 10px 0;
}
#avaliacao .field-area input:not([type='checkbox']), #avaliacao .field-area .phoneArea, #avaliacao .field-area select {
    width: 100%;
    border-radius: 2px;
    height: 49px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    /*border-radius: 10px;*/
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    margin-bottom: 0;
}

input#form-site-carid__phone{
    border: none !important;
    height: auto !important;
}

#avaliacao #pnid-marcacao-website__phone{
    border-width: 0;
    height: 47px;
    background-color: transparent;
}

#avaliacao #pnid-marcacao-website__telefone{
    border-color: transparent;
    height: 47px;
}

.field-footer .actions{
    text-align: center;
}


#area-pnid-marcacao-website__ input{
    margin: 0px auto 20px;
    width: 400px;
    height: 50px;
    border-radius: 25px;  
    background-color:#EC0000;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;  
    font-weight: 500; 
    line-height: 21px;
    border: none;
    text-align: center;
    cursor:pointer;
}



#area-pnid-marcacao-website__ input:after {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 0.3s;
    color: #DB0707;
    z-index: -1;
    border-radius: inherit;
}


#area-pnid-marcacao-website__ input:hover {
    color: #DB0707 !important;
    background-color: white;
    border: 1px solid #DB0707 !important;
    transition: border 0.1s linear 0.3s;
}


#area-pnid-marcacao-website__ input:hover:after {
    /* width: 100%; */
    left: 0;
    transition: left 0.3s, border 0s linear 0.5s;
    color: #DB0707;
}

#avaliacao .formLPmar .custom-select2 {
    display: block;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}
#avaliacao .formLPmar .custom-select1mar select, #avaliacao .formLPmar .custom-select2 select {
    display: none;
   /*hide original SELECT element: */
}
#avaliacao .selectedPrefix .selectedOption {
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0px 19px 0px 0px;
    font-size: 15px;
    line-height: 24.8px;
    padding: 8px 11px;
    border: none;
    display: flex;
    align-items: center;
}

#avaliacao .formLPmar .custom-select1mar, #avaliacao .formLPmar .custom-select2 {
    position: relative;
    font-family: Arial;
    display: inline-block;
    width: 80px;
    height: 47px;
    background: transparent;
    border-radius: 10px 0 0 10px;
    line-height: 49px;
    padding: 4px 15px;
}

#avaliacao .formLPmar .select-selected1mar.select-arrow-active1, #avaliacao .formLPmar .select-selected2.select-arrow-active2 {
    background-color: #969696;
    color: #FFF;
}

input[type=checkbox], input[type=radio] {
    margin: 0px 12px 0px 0;
}

/* Style the arrow inside the select element: */
#avaliacao .phoneArea .selectedOption:after {
    top: 20px;
    right: 14px;
    width: 1px;
    
}
/* Point the arrow upwards when the select box is open (active): */
#avaliacao .formLPmar .select-selected1mar.select-arrow-active1:after, #avaliacao .formLPmar .select-selected2.select-arrow-active2:after {
    border-color: transparent transparent #454749 transparent;
    top: 17px;
}
/* style the items (options), including the selected item: */
#avaliacao .formLPmar .select-items1agd div, .select-selected1mar, #avaliacao .formLPmar .select-items2 div, .select-selected2 {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
}
/* Style items (options): */
#avaliacao .prefixDiv {
    position: absolute;
    background-color: #969696;
    top: 49px;
    border-radius: 10px;
}
#avaliacao .formLPmar .select-items2 {
    display: block;
    width: 100%;
}
/* Hide the items when the select box is closed: */
#avaliacao .formLPmar .select-hide1, #avaliacao .formLPmar .select-hide2 {
    display: none;
}

#avaliacao .formLPmar .notice{
    padding-top:4%;
    display: flex;
}

#avaliacao p.text{
    padding: 0;
    margin: 0;
    color: #454749 !important;
    font-family: "Roboto";  
    font-size: 13px;  
    font-weight: 400; 
    line-height: 16px;
}

#avaliacao p.text a{
    padding: 0;
    margin: 0;
    color: #454749 !important;
    font-family: "Roboto";  
    font-size: 13px;  
    font-weight: bold;  
    line-height: 16px;
}

p.formtextsmall{
    opacity: 0.5; 
    color: #536B80 !important;  
    font-family: "Roboto";  
    font-size: 12px;  
    line-height: 16px;
    text-align:center;
}

#avaliacao .formLPmar .form-field.phoneArea {
    display: flex;
}

.notice {
    margin-top: 20px;
    display: flex;
    vertical-align: middle;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

input[type=checkbox], input[type=radio] {
    margin: 0px 12px 0px 0;
}

#avaliacao .phoneArea .showPrefix {
    width: 50px;
    height: 49px;
    padding: 0 0 0 5px;
    border-radius: 0;
    border: none;
    font-weight: 400;
    color: black;
    background: transparent;
    margin: 0 0 0 7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#avaliacao input.phone {
    width: 100%;
    padding: 0 5px;
    border: none;
    background: transparent;
    height: 100%;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 19px;
    padding-top: 0;
    border-radius: 10px;
}

#formulario-sds-marcacao .formLPmar div.phone, #formulario-sds-marcacao div.phoneCountry {
    width: 54px;
    height: 49px;
}

#avaliacao .formLPmar div.phone {
    width: calc(100% - 135px);
    background: white;
    border-radius: 0 25px 25px 0;
}

#avaliacao .formLPmar .select-selected1mar.select-arrow-active1, #avaliacao .formLPmar .select-selected.select-arrow-active2 {
    background-color: #969696;
    color: #FFF;
}
#avaliacao .formLPmar .select-selected1mar.select-arrow-active1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 25px 0;
    border-radius: 10px 0 0 10px;
}

#avaliacao .prefixDiv .option {
    color: #ffffff;
    padding: 8px 16px;
    width: 60px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}

#avaliacao .formLPmar .termos{
    color: #454749; 
    font-family: Roboto;  
    font-size: 13px;  
    line-height: 32px;      
    text-decoration: none;
}

#avaliacao .formLPmar .termos b{
    text-decoration: underline;
}


#avaliacao .text{
    padding: 15px 121px 0 51%; 
    color: #6D7278; 
    font-family: Roboto;  
    font-size: 17px;  
    line-height: 28px;
    background-size:0px;
}

#avaliacao ul{
    padding: 10px 121px 0 53%; 
    color: #6D7278; 
    font-family: Roboto;  
    font-size: 17px;  
    line-height: 28px;
    font-weight: 500;
}

#avaliacao button{
    /*margin: 30px 0 35px 0;
    border-radius: 25px;
    background-color: #EC0000;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    padding: 14px 30px 15px 30px;
    border: none;*/
    border: none;
    background-color: #f50f40;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 17px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    margin-top: 25px;
}

#avaliacao button:hover{
    background-color: #fff;
    color: #101010;
    border: 1px solid #000;
}

@media (min-width: 1215px) and (max-width: 1450px) {
    #avaliacao .grid {
        width: calc(100% - 55px);
    }
}

@media (min-width: 900px) and (max-width: 1215px) {
    #avaliacao .grid {
        width: calc(100% - 55px);
    }

    #avaliacao .formarc {
        padding: 15px 3% 0 49%;
    }

    #avaliacao .title {
        padding: 35px 0 0 49%;
        font-size: 21px;
        line-height: 27px;
    }

    #avaliacao .text {
        padding: 15px 121px 0 49%;
        font-size: 15px;
        line-height: 23px;
    }

    #avaliacao ul {
        padding: 10px 121px 0 53%;
        font-size: 16px;
        line-height: 24px;
    }

 
}


@media (max-width: 899px) {
    #avaliacao {
        padding: 20px 0 47px;
        /*padding: 15px 0 0;
        background-size: 145px, 145px;
        background-position: 0 top, 0 8%;*/
    }

    #avaliacao .grid {
        background-size:0px;
        width: 100%;
        box-shadow: none;
    }

    #avaliacao .formarc {
        padding: 15px 5% 0 5%;
    }

    #avaliacao .title {
        padding: 54px 3% 0 3%;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    }

    #avaliacao .text {
        padding: 15px 6% 0 6%;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
    }

    #avaliacao .zwei {
        display: none;
        margin-left: 5%;
        margin-right: 5%;
        width: unset;
        height: unset;
        border-radius: 23px;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 90%;
        line-height: 20px;
        padding: 0% 10px 0% 10px;
        background-position: top left;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #avaliacao .button{
        width: fit-content;
        margin: auto;
    }

    #avaliacao ul {
        padding: 10px 9px 0 17%;
        font-size: 17px;
        line-height: 23px;
    }

    #avaliacao button {
        /*margin: 24px 0 30px 0;
        width: fit-content;
        padding: 14px 10px 12px 10px;
        font-size: 14px;
        line-height: 14px;*/
        margin: 5px 0 30px 0;
        border: none;
        background-color: #f50f40;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 14px;
        padding: 10px 30px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    #area-pnid-marcacao-website__ input {
        height: 45px;
        width: 100%;
        border-radius: 25px;
        font-size: 14px;
        line-height: 19px;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}
  /*=============================================================MODO DESKTOP=================================================================================*/

@media (min-width: 1024px){

  .OnlyMobil{
    display: none !important;
  }

  
  div#area-form-site-carid__termos{
    margin-left: 24px !important;
  }


}

/**********************************************************************MODO MOBIL******************************************************************************/

@media (max-width: 768px){

  .OnlyDesktop{
    display: none !important;
  }

  div#area-form-site-carid__termos{
    margin-left: 24px !important;
  }

  #avaliacao button {    
    padding: 16px 10px;
    font-size: 13px;    
}
  

}